 <!-- Section Two -->
          <section id="two" class="wrapper style3 fade-up">
            <div class="inner">
              <h2>What we do</h2>
              <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
              <div class="features">
                <section>
                  <span class="icon major fa-code"></span>
                  <h3>Lorem ipsum amet</h3>
                  <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                </section>
                <section>
                  <span class="icon major fa-lock"></span>
                  <h3>Aliquam sed nullam</h3>
                  <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                </section>
                <section>
                  <span class="icon major fa-cog"></span>
                  <h3>Sed erat ullam corper</h3>
                  <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                </section>
                <section>
                  <span class="icon major fa-desktop"></span>
                  <h3>Veroeros quis lorem</h3>
                  <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                </section>
                <section>
                  <span class="icon major fa-chain"></span>
                  <h3>Urna quis bibendum</h3>
                  <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                </section>
                <section>
                  <span class="icon major fa-diamond"></span>
                  <h3>Aliquam urna dapibus</h3>
                  <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                </section>
              </div>
              <ul class="actions">
                <li><a href="generic.html" class="button">Learn more</a></li>
              </ul>
            </div>
          </section>




<!-- form  -->

                  <section>
                  <form method="post" action="#">
                    <div class="fields">
                      <div class="field half">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                      </div>
                      <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" />
                      </div>
                      <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="5"></textarea>
                      </div>
                    </div>
                    <ul class="actions">
                      <li><a href="" class="button submit">Send Message</a></li>
                    </ul>
                  </form>
                </section>


 <ul class="contact">
                    <li>
                      <h3>Address</h3>
                      <span>12345 Somewhere Road #654<br />
                      Nashville, TN 00000-0000<br />
                      USA</span>
                    </li>
                    <li>
                      <h3>Email</h3>
                      <a href="#">user@untitled.tld</a>
                    </li>
                    <li>
                      <h3>Phone</h3>
                      <span>(000) 000-0000</span>
                    </li>
                    <li>


<!-- Old bootstrap card -->
  <div class="articles-index">
      <div class="row">
        <div class="col-md-4" v-for="article in articles">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ article.headline }}</h5>
                <div class="card-text">
                </div>
              <router-link class="btn btn-primary" v-bind:to="'/articles/'+ article.id +'/show' ">Read More</router-link>           
            </div>
          </div>
        </div>
      </div>

        <!--     <section id="Article One" class="wrapper style2 spotlights">
                <a href="Swap" class="image"><img src="images/pic01.jpg" alt="" data-position="center center" /></a>
                <div class="content">
                  <div class="inner">
                    <div class="container">
                         <h1>{{ message }}</h1>
                         <div>
                           <h1> {{ article.headline }}</h1>
                           <h1> {{ article.body }}</h1>
                        </div>
                      </div>
                    <ul class="actions">
                      <li><a href="Swap" class="button">Swap This Article</a></li>
                    </ul>
                  </div>
                </div>
              </section> -->
    </div>

<!-- home -->

    <template>
  <div id="app">
       <div id="wrapper">
        Intro  nb changed selector tags to divs
          <div id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
              <h1>Fake News</h1>
              <p>Breaking news broken daily</p>
                </div>
              <ul class="actions">
                <li><a v-for="article in articles"></a></li>
                <h1>{{message}}</h1>

                <li><a href="#Add" class="button scrolly">Get Crackin'</a></li>
                <li><a href="#Redact" class="button scrolly">Get Crackin'</a></li>
              </ul>
            </div>
          </div>

        
        <!-- Three ref Intro note above-->
          <div id="three" class="wrapper style1 fade-up">
            <div class="inner">
              <div class="split style1">
             
                      <h3>Social</h3>
                      <ul class="icons">
                        <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="fa-github"><span class="label">GitHub</span></a></li>
                        <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
                      </ul>
                    </li>
                  </ul>
              
              </div>
            </div>
          </div>
        </div>
  </div>
</template>

<style>
</style>

<script>

var axios = require('axios');

export default {
  data: function() {
    return {
      message: "do worry right now!",
      articles: []
      };
    },
  created: function() {
    axios
    .get("http://localhost:3000/api/articles/")
    .then(function(response) {
    this.articles = response.data;
    }.bind(this));
  },
  methods: {
    goToSwap: function() {
      axios
      .get("http://localhost:3000/api/articles/" + this.$route.params.id + "?version=swap")
      .then(response => {
        this.articles = response.data;
        this.message = "Swap!";
      });
    },
     goToRedact: function() {
      axios
      .get("http://localhost:3000/api/articles/" + this.$route.params.id + "?version=redact")
      .then(response => {
        this.articles = response.data;
        this.message = "Redact!";
      });
      },
        goToAdd: function() {
      axios
      .get("http://localhost:3000/api/articles/" + this.$route.params.id + "?version=add")
      .then(response => {
        this.articles = response.data;
        this.message = "Add!";
      });
    }
  },
  computed: {}
};
</script>

<!--  -->

<button @click="goToSwap()">Swap</button>
    <button @click="goToAdd()">Add</button>
    <button @click="goToRedact()">Redact</button>
    <button @click="normalize()">Back to normal</button>


    <!-- old router code -->

    import Vue from 'vue';
import Router from 'vue-router';
import Home from './views/Home.vue';
import Show from './views/Show.vue';
import Swap from './views/Swap.vue';
import Add from './views/Add.vue';
import Redact from './views/Redact.vue';
import test from './views/test.vue';


Vue.use(Router);

export default new Router({
  routes: [
    {
      path: '/',
      name: 'home',
      component: Home
    },

    {
      path: '/articles/:id/show',
      name: 'show',
      component: Show
    },

    {
      path: '/articles/:id/redact',
      name: 'redact',
      component: Redact
    },

    {
      path: '/swap',
      name: 'swap',
      component: Swap
    },

    {
      path: '/articles/:id/add',
      name: 'add',
      component: Add
    },
    {
      path: '/articles:id',
      name: 'test',
      component: test
    }
  ]
});


<!-- Home.vue's script -->


  export default {
    data: function() {
      return {
        message: "Fake News",
        articles: [
          {
            title: "",
            body: "",
            id: ""
          }
        ]
      };
    },
    created: function() {
      axios.get("http://localhost:3000/api/articles").then(response => {
        this.articles = response.data;
      });
    },


methods:{
  normalize: function() {
    axios
    .get("http://localhost:3000/api/articles/" + this.$route.params.id)
    .then(response => {
      this.articles = response.data;
    });
  },  
    goToSwap: function() {
      axios
      .get("http://localhost:3000/api/articles/" + this.$route.params.id + "?version=swap")
      .then(response => {
        this.articles = response.data;
        this.message = "Swap!";
      });
    },

     goToRedact: function() {
      axios
      .get("http://localhost:3000/api/articles/" + this.$route.params.id + "?version=redact")
      .then(response => {
        this.articles = response.data;
        this.message = "Redact!";
      });
      },

        goToAdd: function() {
      axios
      .get("http://localhost:3000/api/articles/" + this.$route.params.id + "?version=add")
      .then(response => {
        this.articles = response.data;
        this.message = "Add!";
      });
    },
    findShowByTitle: function(article_title) {
      axios
      .get("http://localhost:3000/api/articles/by_title?title=" + article_title)
      .then(response => {
        this.$router.push({name: 'articles-show', params: {id: response.data["id"]}});
      });
    }
  },
  findShowById: function(article_id) {
      axios
      .get("http://localhost:3000/api/articles/by_id?id=" + article_id)
      .then(response => {
        this.$router.push({name: 'articles-show-id', params: {id: response.data["id"]}});
      });
    },
  computed: {}
};


<!-- Josh's show page function -->
 <button class="btn btn-secondary" @click="findShowByTitle(articleThree.webTitle)">{{ articleThree.webTitle }}</button>